
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NATS Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NATS Regular'), url('/NATS-Regular.woff') format('woff');
  }

  body, h1, h2, h3, h4, h5 {
    font-family: 'NATS Regular', sans-serif;
  }

  @media screen and (max-width: 850px){/* for screens smaller then 850px, set the font size smaller */
    h2{
      font-size:19px;
    }
 }

  .text-shadow {
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.5);
  }

  .carved-text {
    font-family: 'NATS Regular', sans-serif;
    color: rgba(255, 255, 255, 0.9);
  }
  .button-3d {
    position: relative;
    background-color: #1DB954;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px;
    cursor: pointer;
    border-radius: 99px;
    box-shadow: 0 4px #225f25;
  }

  .button-3d:active {
    box-shadow: none;
    top: 4px;
  }

  .blur-effect {
    animation: blurAnimation 1s forwards;
  }
  
  @keyframes blurAnimation {
    to {
      filter: blur(4px);
    }
  }

  
